{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <h1>About Me</h1>
    <p class="postcontent">I used to work as a backend Django developer for the past year, and I am interested in working on using the Django Rest Framework to provide API endpoints for the frontend.
        Being Diligent, Disciplined and Eager to learn, are my defining qualities and I am committed and conscientious in my work.
        Also, I'm fascinated by the Python language and I prefer to solve problems in python.
    </p>
    <p class="postcontent"> 
        I have experience of build systems like accounting software, management system and web application with Django framework.
        I can use Mysql, sqlite3, Postgresql for the run project successfully.
    </p>
    <p class="postcontent">  
        In Web Frontend, I have good skills in HTML5, CSS3, Bootstrap and another second experience in my list is ECMAScript. I have experience of working with Reactjs and libraries like Material-UI, Highcharts, and DataTables.
    </p>
</div>
{% endblock %}
